.homeBanner
	.hbLeft
		img(src='images/banner-left.png' alt='')
	.hbRight
		.swiper.mySwiper
			.swiper-wrapper
				.swiper-slide
					.hbContent
						.hbContentIn
							p.homeTitleHelper COLLECTION
							h1.homeTitle
								| Majesty
								br
								span Yachts
							p.homeDesc A trusted brand of luxury yachts, superyachts, and megayachts.
							a.homeLink(href='') VIEW COLLECTION
					.hbRightImg
						img(src='images/banner-1.png' alt='')
				.swiper-slide
					.hbContent
						.hbContentIn
							p.homeTitleHelper COLLECTION
							h1.homeTitle
								| Majesty
								br
								span Yachts
							p.homeDesc A trusted brand of luxury yachts, superyachts, and megayachts.
							a.homeLink(href='') VIEW COLLECTION
					.hbRightImg
						img(src='images/banner-1.png' alt='')
			.sliderNext
				include ../icons/prev.pug
			.sliderPrev
				include ../icons/next.pug