header
	.container
		.headerInner
			.brandLogo
				a(href='index.html')
					img(src='images/logo.png' alt='logo')
			.headerMiddle
				.mainNav
					a.isActive(href='#') Our story
					a(href='#') Our brands
					a(href='#') Maintenance &amp; service
					a(href='#') Network
					a(href='#') Virtual showroom
					a(href='#') Network
					a(href='#') News &amp; events
					a(href='#') Careers
					a(href='#') Contact
					a(href='#') Login
			.burgerBlock
				.burger
			.drawerBackdrop