<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 4.3H0.3V5.7H1V4.3ZM13 5L6 0.958548V9.04145L13 5ZM1 5.7H6.7V4.3H1V5.7Z" fill="#122B56"/>
</svg>