<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 4.3H12.7V5.7H12V4.3ZM-9.53674e-07 5L7 0.958548V9.04145L-9.53674e-07 5ZM12 5.7H6.3V4.3H12V5.7Z" fill="#122B56"/>
</svg>