

// Responsive Images

.resImg
	max-width 100%
.fullImg
	width 100%
	max-width 100%

// Text Align

.taCenter
	text-align center
.taLeft
	text-align left
.taRight
	text-align right
.taJustify
	text-align justify

// Display

.dBlock
	display block
.diBlock
	display inline-block
.dNone
	display none
.dFlex
	display flex
	&.isAiCenter
		align-items center
	&.isJcCenter
		justify-content center

// Position

.pRelative
	position relative
.pAbsolute
	position absolute
.pFixed
	position fixed
.pSticky
	position sticky