

fontStack = 'Poppins', sans-serif;
systemFont = -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

rootFontSize = 62.5%

primaryColor = #122B56
secondaryColor = #000

baseFontSize = 14px